* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff5e2;
}

.containerr {
  width: 50%;
}

#site_header {
  background-color: #fdbb40;
}

#site_header > h1 {
  font-weight: 700;
}

#site_main {
  background-color: white;
}

button {
  background-color: #fdbb40;
  border: 0px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-weight: 600;
}

#site_footer {
  background-color: #d33359;
  color: white;
}

#site_footer > h2,
#site_footer > span {
  font-weight: 700;
}

.form-group > img {
  width: 50px;
}

.form-group > span {
  color: #d33359;
  font-weight: 500;
}
